version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"         # expose to host for testing
    command: ["--bind_ip_all"]
    networks:
      - myapp-net
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

networks:
    myapp-net:
      external: true
